In [3]:
import pandas as pd

import numpy as np
import pandas as pd
pd.options.display.max_columns = 50
import matplotlib.pyplot as pyplot
%matplotlib inline
import seaborn as sns
import sklearn
import pickle

In [4]:
df_2010_to_2019 = pd.read_csv("dataset/Crime_Data_from_2010_to_2019.csv")
df_2020_to_present = pd.read_csv("dataset/Crime_Data_from_2020_to_Present.csv")
   

df_2020_to_present.columns = df_2010_to_2019.columns
df_merged = pd.concat([df_2010_to_2019, df_2020_to_present])

   
print("2010-2019 shape", df_2010_to_2019.shape)
print("2020 to Present shape", df_2020_to_present.shape)
print('Merged DF shape', df_merged.shape)

2010-2019 shape (2119797, 28)
2020 to Present shape (594977, 28)
Merged DF shape (2714774, 28)

In [5]:
df_merged.head()

,DR_NO,Date Rptd,DATE OCC,TIME OCC,AREA,AREA NAME,Rpt Dist No,Part 1-2,Crm Cd,Crm Cd Desc,Mocodes,Vict Age,Vict Sex,Vict Descent,Premis Cd,Premis Desc,Weapon Used Cd,Weapon Desc,Status,Status Desc,Crm Cd 1,Crm Cd 2,Crm Cd 3,Crm Cd 4,LOCATION,Cross Street,LAT,LON
0,1307355,02/20/2010 12:00:00 AM,02/20/2010 12:00:00 AM,1350,13,Newton,1385,2,900,VIOLATION OF COURT ORDER,0913 1814 2000,48,M,H,501.0,SINGLE FAMILY DWELLING,NaN,NaN,AA,Adult Arrest,900.0,NaN,NaN,NaN,300 E GAGE AV,NaN,33.9825,-118.2695
1,11401303,09/13/2010 12:00:00 AM,09/12/2010 12:00:00 AM,45,14,Pacific,1485,2,740,"VANDALISM - FELONY ($400 & OVER, ALL CHURCH VA...",0329,0,M,W,101.0,STREET,NaN,NaN,IC,Invest Cont,740.0,NaN,NaN,NaN,SEPULVEDA BL,MANCHESTER AV,33.9599,-118.3962
2,70309629,08/09/2010 12:00:00 AM,08/09/2010 12:00:00 AM,1515,13,Newton,1324,2,946,OTHER MISCELLANEOUS CRIME,0344,0,M,H,103.0,ALLEY,NaN,NaN,IC,Invest Cont,946.0,NaN,NaN,NaN,1300 E 21ST ST,NaN,34.0224,-118.2524
3,90631215,01/05/2010 12:00:00 AM,01/05/2010 12:00:00 AM,150,6,Hollywood,646,2,900,VIOLATION OF COURT ORDER,1100 0400 1402,47,F,W,101.0,STREET,102.0,HAND GUN,IC,Invest Cont,900.0,998.0,NaN,NaN,CAHUENGA BL,HOLLYWOOD BL,34.1016,-118.3295
4,100100501,01/03/2010 12:00:00 AM,01/02/2010 12:00:00 AM,2100,1,Central,176,1,122,"RAPE, ATTEMPTED",0400,47,F,H,103.0,ALLEY,400.0,"STRONG-ARM (HANDS, FIST, FEET OR BODILY FORCE)",IC,Invest Cont,122.0,NaN,NaN,NaN,8TH ST,SAN PEDRO ST,34.0387,-118.2488

In [44]:
df_merged.shape

(2714774, 28)

In [9]:
df_merged.tail(500)

,DR_NO,Date Rptd,DATE OCC,TIME OCC,AREA,AREA NAME,Rpt Dist No,Part 1-2,Crm Cd,Crm Cd Desc,Mocodes,Vict Age,Vict Sex,Vict Descent,Premis Cd,Premis Desc,Weapon Used Cd,Weapon Desc,Status,Status Desc,Crm Cd 1,Crm Cd 2,Crm Cd 3,Crm Cd 4,LOCATION,Cross Street,LAT,LON
594477,220106528,02/13/2022 12:00:00 AM,02/12/2022 12:00:00 AM,2050,1,Central,119,2,624,BATTERY - SIMPLE ASSAULT,1822 0910 2004 0917 1266 0400,26,F,H,834.0,LA UNION STATION (NOT LINE SPECIFIC),500.0,UNKNOWN WEAPON/OTHER WEAPON,IC,Invest Cont,624.0,NaN,NaN,NaN,800 N ALAMEDA ST,NaN,34.0561,-118.2375
594478,221706422,03/05/2022 12:00:00 AM,03/05/2022 12:00:00 AM,50,17,Devonshire,1762,2,624,BATTERY - SIMPLE ASSAULT,0416 1206 1822,30,M,H,108.0,PARKING LOT,400.0,"STRONG-ARM (HANDS, FIST, FEET OR BODILY FORCE)",IC,Invest Cont,624.0,NaN,NaN,NaN,20900 LASSEN ST,NaN,34.2500,-118.5886
594479,220813466,08/19/2022 12:00:00 AM,08/17/2022 12:00:00 AM,719,8,West LA,857,2,956,"LETTERS, LEWD - TELEPHONE CALLS, LEWD",1906 1813,36,F,W,501.0,SINGLE FAMILY DWELLING,NaN,NaN,IC,Invest Cont,956.0,NaN,NaN,NaN,1500 REXFORD DR,NaN,34.0524,-118.3943
594480,221811384,05/24/2022 12:00:00 AM,04/25/2022 12:00:00 AM,2030,18,Southeast,1861,2,763,STALKING,0913 2038 0329 1906 1253 1813 1300,42,F,B,502.0,"MULTI-UNIT DWELLING (APARTMENT, DUPLEX, ETC)",500.0,UNKNOWN WEAPON/OTHER WEAPON,AA,Adult Arrest,763.0,NaN,NaN,NaN,11600 S FIGUEROA ST,NaN,33.9274,-118.2871
594481,221705049,01/25/2022 12:00:00 AM,01/25/2022 12:00:00 AM,1808,17,Devonshire,1745,1,341,"THEFT-GRAND ($950.01 & OVER)EXCPT,GUNS,FOWL,LI...",1202 0344 2032 1300 0352,61,F,H,406.0,OTHER STORE,NaN,NaN,IC,Invest Cont,341.0,NaN,NaN,NaN,18000 CHATSWORTH ST,NaN,34.2645,-118.5264
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
594972,221213384,06/07/2022 12:00:00 AM,06/07/2022 12:00:00 AM,1900,12,77th Street,1249,2,626,INTIMATE PARTNER - SIMPLE ASSAULT,0448 0400 0913 1813 1243 0429 2002 2021,57,F,B,502.0,"MULTI-UNIT DWELLING (APARTMENT, DUPLEX, ETC)",400.0,"STRONG-ARM (HANDS, FIST, FEET OR BODILY FORCE)",AO,Adult Other,626.0,NaN,NaN,NaN,6600 S HOOVER ST,NaN,33.9792,-118.2871
594973,220314584,08/02/2022 12:00:00 AM,08/02/2022 12:00:00 AM,10,3,Southwest,334,2,354,THEFT OF IDENTITY,0100 1822 0922,34,F,H,501.0,SINGLE FAMILY DWELLING,NaN,NaN,IC,Invest Cont,354.0,NaN,NaN,NaN,4300 W 28TH ST,NaN,34.0311,-118.3335
594974,221005507,02/10/2022 12:00:00 AM,02/09/2022 12:00:00 AM,1530,10,West Valley,1024,1,510,VEHICLE - STOLEN,NaN,0,NaN,NaN,108.0,PARKING LOT,NaN,NaN,IC,Invest Cont,510.0,NaN,NaN,NaN,18800 SHERMAN WY,NaN,34.2011,-118.5426
594975,221105477,02/10/2022 12:00:00 AM,02/08/2022 12:00:00 AM,2000,11,Northeast,1171,1,510,VEHICLE - STOLEN,NaN,0,NaN,NaN,101.0,STREET,NaN,NaN,IC,Invest Cont,510.0,NaN,NaN,NaN,4000 FOUNTAIN AV,NaN,34.0958,-118.2787
594976,221605448,02/15/2022 12:00:00 AM,02/14/2022 12:00:00 AM,1800,16,Foothill,1613,1,331,THEFT FROM MOTOR VEHICLE - GRAND ($950.01 AND ...,0385 1300,61,F,H,101.0,STREET,NaN,NaN,IC,Invest Cont,331.0,NaN,NaN,NaN,12700 VAN NUYS BL,NaN,34.2755,-118.4092

In [62]:
df_merged['DATE OCC'] =  pd.to_datetime(df_merged['DATE OCC'], infer_datetime_format=True)
df_merged['Date Rptd'] =  pd.to_datetime(df_merged['Date Rptd'], infer_datetime_format=True)

In [64]:
# removing time stamp from Date Reported and Date Ocurred
df_merged["Date Rptd"] = df_merged["Date Rptd"].replace('12:00:00 AM', '')
df_merged["DATE OCC"] = df_merged["DATE OCC"].replace('12:00:00 AM', '')

In [66]:
df_merged['DATE OCC'] = pd.to_datetime(df_merged['DATE OCC'], format= '%m/%d/%y')

In [71]:
df_merged = df_merged.set_index('DATE OCC').sort_index()

In [72]:
df_merged.head()

,DR_NO,Date Rptd,TIME OCC,AREA,AREA NAME,Rpt Dist No,Part 1-2,Crm Cd,Crm Cd Desc,Mocodes,Vict Age,Vict Sex,Vict Descent,Premis Cd,Premis Desc,Weapon Used Cd,Weapon Desc,Status,Status Desc,Crm Cd 1,Crm Cd 2,Crm Cd 3,Crm Cd 4,LOCATION,Cross Street,LAT,LON
DATE OCC,,,,,,,,,,,,,,,,,,,,,,,,,,,
2010-01-01,110207580,2011-03-12,600,2,Rampart,246,2,354,THEFT OF IDENTITY,0100,44,M,B,203.0,OTHER BUSINESS,NaN,NaN,IC,Invest Cont,354.0,NaN,NaN,NaN,400 S BONNIE BRAE ST,NaN,34.0611,-118.2707
2010-01-01,210405292,2021-02-05,1500,4,Hollenbeck,427,1,121,"RAPE, FORCIBLE",0913 0360 0500 0527 1259,5,F,H,501.0,SINGLE FAMILY DWELLING,500.0,UNKNOWN WEAPON/OTHER WEAPON,IC,Invest Cont,121.0,812.0,NaN,NaN,4600 GREY DR,NaN,34.0841,-118.1847
2010-01-01,111420628,2011-07-12,1200,14,Pacific,1488,2,354,THEFT OF IDENTITY,0377,28,F,H,501.0,SINGLE FAMILY DWELLING,NaN,NaN,IC,Invest Cont,354.0,NaN,NaN,NaN,8700 RAMSGATE AV,NaN,33.9590,-118.3827
2010-01-01,111012643,2011-07-06,1200,10,West Valley,1039,2,354,THEFT OF IDENTITY,1822,26,M,H,502.0,"MULTI-UNIT DWELLING (APARTMENT, DUPLEX, ETC)",NaN,NaN,IC,Invest Cont,354.0,NaN,NaN,NaN,6600 WOODLEY AV,NaN,34.1903,-118.4836
2010-01-01,211320193,2021-12-11,111,13,Newton,1347,1,820,ORAL COPULATION,0522,5,F,H,501.0,SINGLE FAMILY DWELLING,400.0,"STRONG-ARM (HANDS, FIST, FEET OR BODILY FORCE)",IC,Invest Cont,812.0,820.0,NaN,NaN,1600 E 33RD ST,NaN,34.0113,-118.2459

In [74]:
# checking for null values
df_merged.isna().sum()

DR_NO                   0
Date Rptd               0
TIME OCC                0
AREA                    0
AREA NAME               0
Rpt Dist No             0
Part 1-2                0
Crm Cd                  0
Crm Cd Desc             0
Mocodes            310630
Vict Age                0
Vict Sex           275448
Vict Descent       275499
Premis Cd              59
Premis Desc           460
Weapon Used Cd    1791386
Weapon Desc       1791387
Status                  3
Status Desc             0
Crm Cd 1               16
Crm Cd 2          2528793
Crm Cd 3          2709703
Crm Cd 4          2714625
LOCATION                0
Cross Street      2259294
LAT                     0
LON                     0
dtype: int64

In [75]:
# dropping columns with a majority of missing values
df_merged = df_merged.drop(axis=0, columns=['Mocodes', 
                              'Weapon Used Cd', 
                              'Weapon Desc', 
                              'Crm Cd 1', # same as feature 'Crime Code', can be easily dropped
                              'Crm Cd 2', 
                              'Crm Cd 3', 
                              'Crm Cd 4', 
                              'Cross Street',
                              ])

In [76]:
victim_demo = ['Vict Age', 'Vict Sex', 'Vict Descent']
geog_area= ['Area Name']
Crime = ['Crm Cd', 'Crm Cd Desc']

In [77]:
df_merged.isna().sum()

DR_NO                0
Date Rptd            0
TIME OCC             0
AREA                 0
AREA NAME            0
Rpt Dist No          0
Part 1-2             0
Crm Cd               0
Crm Cd Desc          0
Vict Age             0
Vict Sex        275448
Vict Descent    275499
Premis Cd           59
Premis Desc        460
Status               3
Status Desc          0
LOCATION             0
LAT                  0
LON                  0
dtype: int64

In [78]:
df_merged.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 2714774 entries, 2010-01-01 to 2022-10-31
Data columns (total 19 columns):
 #   Column        Dtype
---  ------        -----
 0   DR_NO         int64
 1   Date Rptd     datetime64[ns]
 2   TIME OCC      int64
 3   AREA          int64
 4   AREA NAME     object
 5   Rpt Dist No   int64
 6   Part 1-2      int64
 7   Crm Cd        int64
 8   Crm Cd Desc   object
 9   Vict Age      int64
 10  Vict Sex      object
 11  Vict Descent  object
 12  Premis Cd     float64
 13  Premis Desc   object
 14  Status        object
 15  Status Desc   object
 16  LOCATION      object
 17  LAT           float64
 18  LON           float64
dtypes: datetime64[ns](1), float64(3), int64(7), object(8)
memory usage: 414.2+ MB

In [79]:
df_merged['Premis Cd'].fillna(0, inplace = True)
df_merged['Premis Desc'].fillna('UNKNOWN', inplace = True)
df_merged['Status'].fillna('UNK', inplace = True)

In [80]:
df_merged.describe().apply(lambda s: s.apply('{0:.5f}'.format))

,DR_NO,TIME OCC,AREA,Rpt Dist No,Part 1-2,Crm Cd,Vict Age,Premis Cd,LAT,LON
count,2714774.00000,2714774.00000,2714774.00000,2714774.00000,2714774.00000,2714774.00000,2714774.00000,2714774.00000,2714774.00000,2714774.00000
mean,161880115.75762,1354.53149,11.00694,1147.06798,1.43980,506.37991,31.36317,309.51042,34.03737,-118.21962
std,36762224.07304,648.95775,6.02910,602.91910,0.49636,210.30288,20.89106,212.52953,1.17000,4.04539
min,817.00000,1.00000,1.00000,100.00000,1.00000,110.00000,-11.00000,0.00000,0.00000,-118.82790
25%,131009364.25000,920.00000,6.00000,638.00000,1.00000,330.00000,19.00000,102.00000,34.01090,-118.43490
50%,161514008.50000,1430.00000,11.00000,1177.00000,1.00000,442.00000,31.00000,210.00000,34.06170,-118.32790
75%,191419722.75000,1900.00000,16.00000,1658.00000,2.00000,626.00000,46.00000,501.00000,34.17220,-118.27670
max,910220366.00000,2359.00000,21.00000,2199.00000,2.00000,956.00000,120.00000,971.00000,34.79070,0.00000

In [81]:
df_merged['Vict Sex'].value_counts()

M    1224798
F    1110870
X     103501
H        139
N         17
-          1
Name: Vict Sex, dtype: int64

In [82]:
df_merged['Vict Sex'].replace(to_replace=['H', '-', 'N'], value='X', inplace = True)
df_merged['Vict Sex'].fillna('X', inplace= True)

In [83]:
df_merged['Vict Sex'].unique()

array(['M', 'F', 'X'], dtype=object)

In [84]:
# df[(df['Victim Age'] < 0) | (df['Victim Age'] >= 80)]
df_merged[df_merged['Vict Age'] < 0]['Vict Age'].count()

698

In [85]:
df_merged['Vict Age'] = np.where((df_merged['Vict Age'] < 0), 0,df_merged['Vict Age'])

In [86]:
df_merged['Vict Age'].isna().sum()

0

In [87]:
df_merged['Vict Descent'].value_counts()

H    910909
W    634661
B    422165
O    250394
X    132118
A     63947
K     12248
F      4884
C      3062
I      1468
J      1152
V       761
P       494
Z       405
U       304
G       127
D        65
S        62
L        46
-         3
Name: Vict Descent, dtype: int64

In [88]:
descent_dict ={'A': 'Other Asian', 'B': 'Black', 'C': 'Chinese',
               'D': 'Cambodian', 'F': 'Filipino', 'G': 'Guamanian',
               'H': 'Latinx', 'I': 'Native', 'J': 'Japanese', 
               'K': 'Korean', 'L': 'Laotian', 'O': 'Other',
               'P': 'Pacific Islander', 'S': 'Samoan', 'U': 'Hawaiian',
               'V': 'Vietnamese', 'W': 'White',  'X': 'Unknown', 'Z':'Asian Indian'}
df_merged['Vict Descent'].fillna('X', inplace= True)

In [89]:
df_merged['Vict Descent'].replace(to_replace=['-'], value='X', inplace = True)

In [90]:
df_merged.isna().sum()

DR_NO           0
Date Rptd       0
TIME OCC        0
AREA            0
AREA NAME       0
Rpt Dist No     0
Part 1-2        0
Crm Cd          0
Crm Cd Desc     0
Vict Age        0
Vict Sex        0
Vict Descent    0
Premis Cd       0
Premis Desc     0
Status          0
Status Desc     0
LOCATION        0
LAT             0
LON             0
dtype: int64

In [92]:
df_merged.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 2714774 entries, 2010-01-01 to 2022-10-31
Data columns (total 19 columns):
 #   Column        Dtype
---  ------        -----
 0   DR_NO         int64
 1   Date Rptd     datetime64[ns]
 2   TIME OCC      int64
 3   AREA          int64
 4   AREA NAME     object
 5   Rpt Dist No   int64
 6   Part 1-2      int64
 7   Crm Cd        int64
 8   Crm Cd Desc   object
 9   Vict Age      int64
 10  Vict Sex      object
 11  Vict Descent  object
 12  Premis Cd     float64
 13  Premis Desc   object
 14  Status        object
 15  Status Desc   object
 16  LOCATION      object
 17  LAT           float64
 18  LON           float64
dtypes: datetime64[ns](1), float64(3), int64(7), object(8)
memory usage: 414.2+ MB

In [93]:
df_merged[df_merged['TIME OCC'] < 100]

,DR_NO,Date Rptd,TIME OCC,AREA,AREA NAME,Rpt Dist No,Part 1-2,Crm Cd,Crm Cd Desc,Vict Age,Vict Sex,Vict Descent,Premis Cd,Premis Desc,Status,Status Desc,LOCATION,LAT,LON
DATE OCC,,,,,,,,,,,,,,,,,,,
2010-01-01,101927186,2010-12-23,1,19,Mission,1985,2,812,CRM AGNST CHLD (13 OR UNDER) (14-15 & SUSP 10 ...,5,F,H,502.0,"MULTI-UNIT DWELLING (APARTMENT, DUPLEX, ETC)",IC,Invest Cont,8800 VAN NUYS BL,34.2299,-118.4503
2010-01-01,150507600,2015-03-22,1,5,Harbor,504,2,354,THEFT OF IDENTITY,94,M,B,502.0,"MULTI-UNIT DWELLING (APARTMENT, DUPLEX, ETC)",IC,Invest Cont,20800 S HARVARD BL,33.8419,-118.3066
2010-01-01,161909132,2016-03-30,1,19,Mission,1983,2,812,CRM AGNST CHLD (13 OR UNDER) (14-15 & SUSP 10 ...,7,F,H,502.0,"MULTI-UNIT DWELLING (APARTMENT, DUPLEX, ETC)",AO,Adult Other,8600 COLUMBUS AV,34.2265,-118.4654
2010-01-01,190907999,2019-03-14,1,9,Van Nuys,926,2,626,INTIMATE PARTNER - SIMPLE ASSAULT,34,F,A,502.0,"MULTI-UNIT DWELLING (APARTMENT, DUPLEX, ETC)",IC,Invest Cont,14400 VICTORY BL,34.1903,-118.4399
2010-01-01,101504337,2010-01-07,1,15,N Hollywood,1563,1,310,BURGLARY,0,M,W,502.0,"MULTI-UNIT DWELLING (APARTMENT, DUPLEX, ETC)",IC,Invest Cont,4500 COLFAX AV,34.1522,-118.3877
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2022-10-31,221516769,2022-10-31,5,15,N Hollywood,1557,1,510,VEHICLE - STOLEN,0,X,X,208.0,AUTO SALES LOT,IC,Invest Cont,4600 LANKERSHIM BL,34.1535,-118.3677
2022-10-31,220715954,2022-10-31,30,7,Wilshire,745,1,310,BURGLARY,31,M,W,707.0,GARAGE/CARPORT,IC,Invest Cont,1100 S CLOVERDALE AV,34.0548,-118.3489
2022-10-31,221916269,2022-10-31,50,19,Mission,1918,2,901,VIOLATION OF RESTRAINING ORDER,26,F,H,501.0,SINGLE FAMILY DWELLING,IC,Invest Cont,13200 FOOTHILL BL,34.2996,-118.4217
2022-10-31,220123578,2022-10-31,30,1,Central,101,2,626,INTIMATE PARTNER - SIMPLE ASSAULT,0,X,X,101.0,STREET,IC,Invest Cont,BEAUDRY AV,34.0653,-118.2492
2022-10-31,220319358,2022-10-31,20,3,Southwest,311,2,753,DISCHARGE FIREARMS/SHOTS FIRED,21,X,X,101.0,STREET,IC,Invest Cont,2700 HAUSER BL,34.0301,-118.3636

In [94]:
df_merged['Crm Cd Desc'].value_counts().count()

143

In [95]:
df_merged.nunique()

DR_NO           2714774
Date Rptd          4687
TIME OCC           1439
AREA                 21
AREA NAME            21
Rpt Dist No        1310
Part 1-2              2
Crm Cd              143
Crm Cd Desc         143
Vict Age            102
Vict Sex              3
Vict Descent         19
Premis Cd           326
Premis Desc         321
Status               10
Status Desc           6
LOCATION          81778
LAT                5684
LON                5146
dtype: int64

In [96]:

def dictionary_maker(key_feature, value_feature):
    '''
    this function takes in two features
    and returns a dictionary with the unique values
    from the two features as key and values
    '''
    # dictionary key
    key= list(df_merged[key_feature].value_counts().index)
    
    #dictionary value
    value= list(df_merged[value_feature].value_counts().index)
    
    #dictionary
    dictionary = {key[i]:value[i] for i in range(len(key))}
    
    return dictionary

# def pickle_dictionary(dict_to_pickle, pickled_dict_name):
#     '''
#     Pickles a dictionary object 
#     '''
#     pickle_out = open(str(pickled_dict_name),"wb")
#     pickle.dump(dict_to_pickle, pickle_out)
#     pickle_out.close()

# pickle.dump( status_dict, open( "status_dict.p", "wb" ) )
# pickle_in = open("dict.pickle","rb")
# example_dict = pickle.load(pickle_in)

In [101]:
#area_dict = dictionary_maker('AREA', 'AREA NAME')
crime_dict = dictionary_maker('Crm Cd', 'Crm Cd Desc')

In [102]:
df_merged['Premis Desc'].isna().any()

False

In [103]:
df_merged['Status'].value_counts()

IC     2099732
AO      318332
AA      272580
JA       17768
JO        6327
CC          29
UNK          3
TH           1
13           1
19           1
Name: Status, dtype: int64

In [104]:
df_merged['Status'].replace(to_replace=['CC', 'TH', '19', '13'], value='UNK', inplace = True)

In [105]:
df_merged['Status Desc'].value_counts()

Invest Cont     2099732
Adult Other      318332
Adult Arrest     272580
Juv Arrest        17768
Juv Other          6327
UNK                  35
Name: Status Desc, dtype: int64

In [106]:
status_dict = dictionary_maker('Status', 'Status Desc')
status_dict

{'IC': 'Invest Cont',
 'AO': 'Adult Other',
 'AA': 'Adult Arrest',
 'JA': 'Juv Arrest',
 'JO': 'Juv Other',
 'UNK': 'UNK'}

In [107]:
df_merged['Premis Cd'].value_counts()

101.0    624317
501.0    530357
502.0    338394
108.0    193357
102.0    132516
          ...
803.0         2
134.0         1
808.0         1
747.0         1
749.0         1
Name: Premis Cd, Length: 326, dtype: int64

In [108]:
pd.set_option('display.max_rows', None)
# df['Premise Code'].value_counts()
df_merged[df_merged['Premis Cd']== 967]

,DR_NO,Date Rptd,TIME OCC,AREA,AREA NAME,Rpt Dist No,Part 1-2,Crm Cd,Crm Cd Desc,Vict Age,Vict Sex,Vict Descent,Premis Cd,Premis Desc,Status,Status Desc,LOCATION,LAT,LON
DATE OCC,,,,,,,,,,,,,,,,,,,
2017-06-02,170115839,2017-06-02,120,1,Central,111,1,350,"THEFT, PERSON",26,M,H,967.0,MTA - GOLD LINE - CHINATOWN,IC,Invest Cont,ALAMEDA,34.0615,-118.2412
2017-07-03,170118828,2017-07-03,1930,1,Central,118,1,440,THEFT PLAIN - PETTY ($950 & UNDER),37,M,H,967.0,MTA - GOLD LINE - CHINATOWN,IC,Invest Cont,900 N SPRING ST,34.0635,-118.2357
2017-08-25,170123129,2017-08-25,550,1,Central,118,1,440,THEFT PLAIN - PETTY ($950 & UNDER),46,M,B,967.0,MTA - GOLD LINE - CHINATOWN,IC,Invest Cont,900 N SPRING ST,34.0635,-118.2357
2017-10-27,170128107,2017-10-27,2315,1,Central,111,2,624,BATTERY - SIMPLE ASSAULT,41,M,H,967.0,MTA - GOLD LINE - CHINATOWN,IC,Invest Cont,1ST ST,34.0615,-118.2412
2017-11-22,170130221,2017-11-24,2100,1,Central,111,1,480,BIKE - STOLEN,52,M,H,967.0,MTA - GOLD LINE - CHINATOWN,IC,Invest Cont,900 N SPRING ST,34.0624,-118.2367
2017-11-30,170130744,2017-11-30,1600,1,Central,111,2,624,BATTERY - SIMPLE ASSAULT,56,M,W,967.0,MTA - GOLD LINE - CHINATOWN,IC,Invest Cont,900 N SPRING ST,34.0624,-118.2367
2017-12-26,170132653,2017-12-26,1705,1,Central,111,2,624,BATTERY - SIMPLE ASSAULT,18,M,H,967.0,MTA - GOLD LINE - CHINATOWN,IC,Invest Cont,900 N SPRING ST,34.0624,-118.2367
2018-02-16,180307134,2018-02-17,1930,3,Southwest,334,2,902,VIOLATION OF TEMPORARY RESTRAINING ORDER,51,F,B,967.0,MTA - GOLD LINE - CHINATOWN,IC,Invest Cont,3400 S BRONSON AV,34.0256,-118.3338
2018-02-28,180108707,2018-03-01,1730,1,Central,111,2,740,"VANDALISM - FELONY ($400 & OVER, ALL CHURCH VA...",0,M,X,967.0,MTA - GOLD LINE - CHINATOWN,IC,Invest Cont,900 N SPRING ST,34.0624,-118.2367
2018-05-09,180113331,2018-05-09,715,1,Central,111,2,860,BATTERY WITH SEXUAL CONTACT,48,F,H,967.0,MTA - GOLD LINE - CHINATOWN,IC,Invest Cont,900 N SPRING ST,34.0624,-118.2367
2018-07-16,180119129,2018-07-18,1200,1,Central,118,2,740,"VANDALISM - FELONY ($400 & OVER, ALL CHURCH VA...",33,M,H,967.0,MTA - GOLD LINE - CHINATOWN,IC,Invest Cont,ALAMEDA,34.0635,-118.2356
2018-08-17,180121605,2018-08-18,1950,1,Central,111,2,745,VANDALISM - MISDEAMEANOR ($399 OR UNDER),0,X,X,967.0,MTA - GOLD LINE - CHINATOWN,IC,Invest Cont,900 N SPRING ST,34.0624,-118.2367
2018-12-03,180129460,2018-12-03,1735,1,Central,111,2,624,BATTERY - SIMPLE ASSAULT,51,F,W,967.0,MTA - GOLD LINE - CHINATOWN,IC,Invest Cont,900 N SPRING ST,34.0624,-118.2367
2019-02-04,190106657,2019-02-08,2200,1,Central,111,2,624,BATTERY - SIMPLE ASSAULT,48,M,H,967.0,MTA - GOLD LINE - CHINATOWN,IC,Invest Cont,COLLEGE ST,34.0637,-118.2361
2019-08-27,190121760,2019-08-27,1430,1,Central,111,1,230,"ASSAULT WITH DEADLY WEAPON, AGGRAVATED ASSAULT",29,M,W,967.0,MTA - GOLD LINE - CHINATOWN,AA,Adult Arrest,400 N SPRING ST,34.0565,-118.2411
2019-10-21,190125620,2019-10-21,800,1,Central,111,2,624,BATTERY - SIMPLE ASSAULT,51,M,B,967.0,MTA - GOLD LINE - CHINATOWN,IC,Invest Cont,900 N SPRING ST,34.0624,-118.2367
2019-12-13,190129240,2019-12-13,1920,1,Central,111,2,624,BATTERY - SIMPLE ASSAULT,54,M,W,967.0,MTA - GOLD LINE - CHINATOWN,IC,Invest Cont,900 N SPRING ST,34.0624,-118.2367
2020-03-20,200407214,2020-03-23,1730,4,Hollenbeck,412,1,230,"ASSAULT WITH DEADLY WEAPON, AGGRAVATED ASSAULT",39,F,H,967.0,MTA - GOLD LINE - CHINATOWN,IC,Invest Cont,300 W AVENUE 26,34.0798,-118.2184
2020-08-07,200116026,2020-08-08,1750,1,Central,118,1,210,ROBBERY,41,M,H,967.0,MTA - GOLD LINE - CHINATOWN,AA,Adult Arrest,900 N SPRING ST,34.0635,-118.2357
2020-11-25,200121540,2020-11-25,900,1,Central,118,2,888,TRESPASSING,95,M,W,967.0,MTA - GOLD LINE - CHINATOWN,IC,Invest Cont,900 N SPRING ST,34.0635,-118.2357
2021-01-15,210104597,2021-01-15,930,1,Central,118,1,350,"THEFT, PERSON",41,F,H,967.0,MTA - GOLD LINE - CHINATOWN,IC,Invest Cont,1200 N SPRING ST,34.0659,-118.2339
2021-03-13,210107471,2021-03-14,2200,1,Central,118,1,341,"THEFT-GRAND ($950.01 & OVER)EXCPT,GUNS,FOWL,LI...",23,M,O,967.0,MTA - GOLD LINE - CHINATOWN,IC,Invest Cont,1200 N SPRING ST,34.0659,-118.2339
2021-03-13,210107454,2021-03-14,2200,1,Central,118,1,350,"THEFT, PERSON",37,F,B,967.0,MTA - GOLD LINE - CHINATOWN,IC,Invest Cont,1200 N SPRING ST,34.0659,-118.2339
2021-04-09,210407513,2021-04-09,1820,4,Hollenbeck,411,2,946,OTHER MISCELLANEOUS CRIME,0,M,X,967.0,MTA - GOLD LINE - CHINATOWN,IC,Invest Cont,HUMBOLDT,34.0768,-118.2228
2021-05-13,210110250,2021-05-14,1720,1,Central,111,2,745,VANDALISM - MISDEAMEANOR ($399 OR UNDER),39,M,B,967.0,MTA - GOLD LINE - CHINATOWN,IC,Invest Cont,800 N SPRING ST,34.0619,-118.2369
2021-06-20,210112266,2021-06-22,2035,1,Central,111,1,480,BIKE - STOLEN,29,M,H,967.0,MTA - GOLD LINE - CHINATOWN,IC,Invest Cont,COLLEGE,34.0637,-118.2361
2021-10-03,210117987,2021-10-03,1355,1,Central,118,1,121,"RAPE, FORCIBLE",31,F,H,967.0,MTA - GOLD LINE - CHINATOWN,AO,Adult Other,900 N SPRING ST,34.0635,-118.2357
2021-10-12,210118574,2021-10-12,2025,1,Central,118,2,888,TRESPASSING,0,X,X,967.0,MTA - GOLD LINE - CHINATOWN,IC,Invest Cont,1200 N SPRING ST,34.0659,-118.2339
2021-11-12,210120507,2021-11-15,1300,1,Central,118,2,740,"VANDALISM - FELONY ($400 & OVER, ALL CHURCH VA...",0,F,W,967.0,MTA - GOLD LINE - CHINATOWN,IC,Invest Cont,900 N SPRING ST,34.0635,-118.2357
2021-11-12,210120629,2021-11-16,1600,1,Central,118,2,813,CHILD ANNOYING (17YRS & UNDER),15,F,W,967.0,MTA - GOLD LINE - CHINATOWN,IC,Invest Cont,900 N SPRING ST,34.0635,-118.2357
2022-01-09,220104516,2022-01-09,1100,1,Central,118,2,740,"VANDALISM - FELONY ($400 & OVER, ALL CHURCH VA...",0,X,X,967.0,MTA - GOLD LINE - CHINATOWN,IC,Invest Cont,900 N SPRING ST,34.0635,-118.2357
2022-05-01,220111425,2022-05-01,915,1,Central,118,2,946,OTHER MISCELLANEOUS CRIME,0,X,X,967.0,MTA - GOLD LINE - CHINATOWN,IC,Invest Cont,900 N SPRING ST,34.0635,-118.2357
2022-08-22,220118917,2022-08-22,1435,1,Central,118,2,624,BATTERY - SIMPLE ASSAULT,39,F,W,967.0,MTA - GOLD LINE - CHINATOWN,IC,Invest Cont,900 N SPRING ST,34.0635,-118.2357
2022-09-20,220120973,2022-09-20,2120,1,Central,111,1,230,"ASSAULT WITH DEADLY WEAPON, AGGRAVATED ASSAULT",24,M,B,967.0,MTA - GOLD LINE - CHINATOWN,IC,Invest Cont,COLLEGE,34.0637,-118.2361

In [109]:
df_merged['Premis Desc'].value_counts()

STREET                                                             624317
SINGLE FAMILY DWELLING                                             530357
MULTI-UNIT DWELLING (APARTMENT, DUPLEX, ETC)                       338394
PARKING LOT                                                        193357
SIDEWALK                                                           132516
OTHER BUSINESS                                                     123894
VEHICLE, PASSENGER/TRUCK                                            98289
DRIVEWAY                                                            53078
GARAGE/CARPORT                                                      50206
RESTAURANT/FAST FOOD                                                36627
DEPARTMENT STORE                                                    33467
MARKET                                                              26273
PARKING UNDERGROUND/BUILDING                                        21776
OTHER STORE                                                         19549
PARK/PLAYGROUND                                                     18663
ALLEY                                                               18346
YARD (RESIDENTIAL/BUSINESS)                                         18309
OTHER PREMISE                                                       18097
HIGH SCHOOL                                                         14592
GAS STATION                                                         14077
HOTEL                                                               13283
DRUG STORE                                                          13233
OTHER RESIDENCE                                                     12542
MINI-MART                                                            9979
JUNIOR HIGH SCHOOL                                                   9472
TRANSPORTATION FACILITY (AIRPORT)                                    9465
BANK                                                                 9333
ELEMENTARY SCHOOL                                                    8813
PUBLIC STORAGE                                                       8656
OFFICE BUILDING/OFFICE                                               8378
CLOTHING STORE                                                       7558
MOTEL                                                                6892
LIQUOR STORE                                                         6726
HOSPITAL                                                             6671
POLICE FACILITY                                                      6646
PORCH, RESIDENTIAL                                                   6470
HEALTH SPA/GYM                                                       6376
CONDOMINIUM/TOWNHOUSE                                                6139
BUS STOP                                                             5793
CHURCH/CHAPEL (CHANGED 03-03 FROM CHURCH/TEMPLE)                     5717
NIGHT CLUB (OPEN EVENINGS ONLY)                                      5503
CELL PHONE STORE                                                     4979
LAUNDROMAT                                                           4728
OTHER/OUTSIDE                                                        4642
CONSTRUCTION SITE                                                    4489
COLLEGE/JUNIOR COLLEGE/UNIVERSITY                                    4449
SHOPPING MALL (COMMON AREA)                                          4288
GOVERNMENT FACILITY (FEDERAL,STATE, COUNTY & CITY)                   4172
BAR/COCKTAIL/NIGHTCLUB                                               3907
DIY CENTER (LOWE'S,HOME DEPOT,OSH,CONTRACTORS WAREHOUSE)             3856
MTA BUS                                                              3728
MEDICAL/DENTAL OFFICES                                               3694
COFFEE SHOP (STARBUCKS, COFFEE BEAN, PEET'S, ETC.)                   3405
NURSING/CONVALESCENT/RETIREMENT HOME                                 3400
AUTO REPAIR SHOP                                                     3262
WAREHOUSE                                                            3123
STORAGE SHED                                                         3122
LIBRARY                                                              3064
AUTOMATED TELLER MACHINE (ATM)                                       3008
DISCOUNT STORE (99 CENT,DOLLAR,ETC.                                  2725
SPECIALTY SCHOOL/OTHER                                               2502
BEAUTY/BARBER SHOP                                                   2476
BEACH                                                                2473
GROUP HOME                                                           2422
MISSIONS/SHELTERS                                                    2194
MOBILE HOME/TRAILERS/CONSTRUCTION TRAILERS/RV'S/MOTORHOME            2148
HARDWARE/BUILDING SUPPLY                                             1703
BAR/SPORTS BAR (OPEN DAY & NIGHT)                                    1679
PROJECT/TENEMENT/PUBLIC HOUSING                                      1592
MEMBERSHIP STORE (COSTCO,SAMS CLUB)*                                 1471
LA UNION STATION (NOT LINE SPECIFIC)                                 1471
CYBERSPACE                                                           1441
CHECK CASHING*                                                       1430
MAIL BOX                                                             1404
CAR WASH                                                             1334
AUTO SALES LOT                                                       1294
JEWELRY STORE                                                        1270
THEATRE/MOVIE                                                        1209
PATIO*                                                               1189
AUTO SUPPLY STORE*                                                   1182
FREEWAY                                                              1157
PRIVATE SCHOOL/PRESCHOOL                                             1155
MEDICAL MARIJUANA FACILITIES/BUSINESSES                              1146
TRANSITIONAL HOUSING/HALFWAY HOUSE                                   1043
BEAUTY SUPPLY STORE                                                   998
APARTMENT/CONDO COMMON LAUNDRY ROOM                                   934
THE GROVE                                                             918
TOBACCO SHOP                                                          911
PHARMACY INSIDE STORE OR SUPERMARKET*                                 877
ABANDONED BUILDING ABANDONED HOUSE                                    858
TRANSIENT ENCAMPMENT                                                  856
DODGER STADIUM                                                        845
NAIL SALON                                                            824
VACANT LOT                                                            751
ELECTRONICS STORE (IE:RADIO SHACK, ETC.)                              694
AUTO DEALERSHIP (CHEVY, FORD, BMW, MERCEDES, ETC.)                    678
SINGLE RESIDENCE OCCUPANCY (SRO'S) LOCATIONS                          676
PUBLIC RESTROOM(INDOORS-INSIDE)                                       666
DETENTION/JAIL FACILITY                                               664
WEBSITE                                                               631
POST OFFICE                                                           627
THE BEVERLY CONNECTION                                                625
THE BEVERLY CENTER                                                    588
BUS STOP/LAYOVER (ALSO QUERY 124)                                     584
FRAT HOUSE/SORORITY/DORMITORY                                         578
BALCONY*                                                              564
SLIPS/DOCK/MARINA/BOAT                                                559
SWAP MEET                                                             552
STUDIO (FILM/PHOTOGRAPHIC/MUSIC)                                      537
BUS-CHARTER/PRIVATE                                                   534
PUBLIC RESTROOM/OUTSIDE*                                              529
CLEANER/LAUNDROMAT                                                    525
SYNAGOGUE/TEMPLE                                                      523
CONVENTION CENTER                                                     521
RECYCLING CENTER                                                      520
TOW YARD*                                                             499
MASSAGE PARLOR                                                        462
UNKNOWN                                                               460
MANUFACTURING COMPANY                                                 459
BUS, SCHOOL, CHURCH                                                   457
NURSERY/FLOWER SHOP                                                   428
MTA - RED LINE - WESTLAKE/MACARTHUR PARK                              425
TRADE SCHOOL (MEDICAL-TECHNICAL-BUSINESS)*                            413
MTA - RED LINE - UNION STATION                                        411
GUN/SPORTING GOODS                                                    404
PET STORE                                                             403
ENTERTAINMENT/COMEDY CLUB (OTHER)                                     396
STAIRWELL*                                                            370
MTA - RED LINE - NORTH HOLLYWOOD                                      367
MTA - RED LINE - 7TH AND METRO CENTER                                 363
FIRE STATION                                                          361
TV/RADIO/APPLIANCE                                                    341
GOLF COURSE*                                                          341
SEX ORIENTED/BOOK STORE/STRIP CLUB/GENTLEMAN'S CLUB                   332
ELEVATOR                                                              330
COMPUTER SERVICES/REPAIRS/SALES                                       315
BUS DEPOT/TERMINAL, OTHER THAN MTA                                    315
DAY CARE/CHILDREN*                                                    314
DELIVERY SERVICE (FED EX, UPS, COURIERS,COURIER SERVICE)*             311
TAXI                                                                  309
AIRCRAFT                                                              306
STAPLES CENTER *                                                      292
POOL-PUBLIC/OUTDOOR OR INDOOR*                                        292
PAWN SHOP                                                             283
MUNICIPAL BUS LINE INCLUDES LADOT/DASH                                281
DRIVE THRU*                                                           275
PEDESTRIAN OVERCROSSING                                               269
FACTORY                                                               265
MTA PROPERTY OR PARKING LOT                                           265
MUSEUM                                                                257
VISION CARE FACILITY*                                                 253
MTA - RED LINE - HOLLYWOOD/VINE                                       242
COLISEUM                                                              242
BOWLING ALLEY*                                                        241
TRAIN TRACKS                                                          238
DAY CARE/ADULTS*                                                      238
MTA - RED LINE - PERSHING SQUARE                                      238
FURNITURE STORE                                                       236
UNDERPASS/BRIDGE*                                                     236
TERMINAL, OTHER THAN MTA                                              235
MTA - RED LINE - HOLLYWOOD/HIGHLAND                                   234
CEMETARY*                                                             229
MTA - EXPO LINE - EXPO/WESTERN                                        207
SPORTS VENUE, OTHER                                                   201
CREDIT UNION                                                          201
TATTOO PARLOR*                                                        199
EQUIPMENT RENTAL                                                      199
METROLINK TRAIN                                                       197
MTA - RED LINE - WILSHIRE/VERMONT                                     192
RIVER BED*                                                            183
7TH AND METRO CENTER (NOT LINE SPECIFIC)                              178
SKATEBOARD FACILITY/SKATEBOARD PARK*                                  177
FOSTER HOME BOYS OR GIRLS*                                            177
MTA - RED LINE - VERMONT/BEVERLY                                      176
VEHICLE STORAGE LOT (CARS, TRUCKS, RV'S, BOATS, TRAILERS, ETC.)       174
MTA - RED LINE - VERMONT/SANTA MONICA                                 169
VALET                                                                 161
OPTICAL OFFICE INSIDE STORE OR SUPERMARKET*                           158
SHORT-TERM VACATION RENTAL                                            147
GREYHOUND OR INTERSTATE BUS                                           142
TRAIN DEPOT/TERMINAL, OTHER THAN MTA                                  140
MTA - RED LINE - HOLLYWOOD/WESTERN                                    140
MTA - RED LINE - VERMONT/SUNSET                                       140
SAVINGS & LOAN                                                        135
MTA - RED LINE - UNIVERSAL CITY/STUDIO CITY                           134
HIGH-RISE BUILDING                                                    133
SPORTS ARENA                                                          131
MTA - EXPO LINE - EXPO/CRENSHAW                                       125
OTHER RR TRAIN (UNION PAC, SANTE FE ETC                               124
MTA - EXPO LINE - EXPO/VERMONT                                        121
MTA - BLUE LINE - 7TH AND METRO CENTER                                119
TELECOMMUNICATION FACILITY/LOCATION                                   119
VETERINARIAN/ANIMAL HOSPITAL                                          117
ARCADE,GAME ROOM/VIDEO GAMES (EXAMPLE CHUCKIE CHEESE)*                115
OTHER PLACE OF WORSHIP                                                112
MOSQUE*                                                               109
FINANCE COMPANY                                                       108
MTA - BLUE LINE - WASHINGTON                                          108
TOOL SHED*                                                            104
MTA - EXPO LINE - EXPO/LA BREA                                        102
MTA - RED LINE - CIVIC CENTER/GRAND PARK                              101
MTA - PURPLE LINE - WILSHIRE/VERMONT                                  100
MTA - PURPLE LINE - WILSHIRE/WESTERN                                   99
MTA - GREEN LINE - HARBOR FWY                                          96
MTA - BLUE LINE - 103RD/WATTS TOWERS                                   96
MTA - ORANGE LINE - NORTH HOLLYWOOD                                    93
MTA - EXPO LINE - LA CIENEGA/JEFFERSON                                 90
BOOK STORE                                                             89
MTA - GREEN LINE - AVALON                                              87
VIDEO RENTAL STORE                                                     86
BASKETBALL COURTS                                                      85
MORTUARY                                                               85
MTA - EXPO LINE - FARMDALE                                             84
MTA - EXPO LINE - EXPO/BUNDY                                           81
HOSPICE                                                                80
TUNNEL                                                                 80
MTA - GOLD LINE - UNION STATION                                        80
RECORD-CD MUSIC/COMPUTER GAME STORE                                    79
CATERING/ICE CREAM TRUCK                                               79
TRAIN, OTHER THAN MTA (ALSO QUERY 809/810/811)                         76
GARMENT MANUFACTURER                                                   75
MTA - BLUE LINE - PICO                                                 73
MTA - EXPO LINE - EXPO PARK/USC                                        69
MTA - EXPO LINE - EXPO/SEPULVEDA                                       69
MTA - EXPO LINE - 7TH AND METRO CENTER                                 68
MTA - EXPO LINE - JEFFERSON/USC                                        65
MTA - PURPLE LINE - WILSHIRE/NORMANDIE                                 64
MTA - EXPO LINE - PALMS                                                61
ENERGY PLANT/FACILITY                                                  60
MTA - BLUE LINE - VERNON                                               59
WATER FACILITY                                                         58
OIL REFINERY                                                           55
MTA - EXPO LINE - LATTC/ORTHO INSTITUTE                                55
MASS GATHERING LOCATION                                                53
MTA - GOLD LINE - HIGHLAND PARK                                        53
AMUSEMENT PARK*                                                        52
MTA - GOLD LINE - SOTO                                                 52
MTA - GREEN LINE - AVIATION/LAX                                        50
MTA - BLUE LINE - GRAND/LATTC                                          49
MTA - GOLD LINE - MARIACHI PLAZA                                       49
MTA - BLUE LINE - SAN PEDRO                                            47
MTA - ORANGE LINE - VAN NUYS                                           46
BANKING INSIDE MARKET-STORE *                                          44
PAY PHONE                                                              44
TRASH CAN/TRASH DUMPSTER                                               44
TRUCK, COMMERICAL                                                      42
MTA - SILVER LINE - HARBOR GATEWAY TRANSIT CTR                         41
MTA - ORANGE LINE - CANOGA                                             40
MTA - EXPO LINE - WESTWOOD/RANCHO PARK                                 40
SKATING RINK*                                                          40
AMTRAK TRAIN                                                           39
DAM/RESERVOIR                                                          39
MTA - PURPLE LINE - UNION STATION                                      38
MTA - PURPLE LINE - PERSHING SQUARE                                    37
MTA - GOLD LINE - LINCOLN/CYPRESS                                      36
MTA - GOLD LINE - CHINATOWN                                            34
ABORTION CLINIC/ABORTION FACILITY*                                     33
REDLINE SUBWAY PLATFORM                                                32
MTA - EXPO LINE - PICO                                                 32
MTA - ORANGE LINE - CHATSWORTH                                         31
MTA - GOLD LINE - SOUTHWEST MUSEUM                                     30
MTA - ORANGE LINE - BALBOA                                             29
DRIVE THRU BANKING (WINDOW)*                                           29
MTA - GOLD LINE - HERITAGE SQ                                          28
CULTURAL SIGNIFICANCE/MONUMENT                                         27
MTA - PURPLE LINE - WESTLAKE/MACARTHUR PARK                            27
MTA - ORANGE LINE - RESEDA                                             26
REDLINE ENTRANCE/EXIT                                                  26
ABATEMENT LOCATION                                                     24
RETIRED (DUPLICATE) DO NOT USE THIS CODE                               24

In [110]:
df_merged['Premis Cd'] = np.where(df_merged['Premis Desc']== 'UNKNOWN', 0.0, df_merged['Premis Cd'])

In [111]:
df_merged.columns

Index(['DR_NO', 'Date Rptd', 'TIME OCC', 'AREA ', 'AREA NAME', 'Rpt Dist No',
       'Part 1-2', 'Crm Cd', 'Crm Cd Desc', 'Vict Age', 'Vict Sex',
       'Vict Descent', 'Premis Cd', 'Premis Desc', 'Status', 'Status Desc',
       'LOCATION', 'LAT', 'LON'],
      dtype='object')

In [112]:
# removing whitespace from column name
df_merged = df_merged.rename(columns={'Location': 'Location'})

In [113]:
df_merged.columns

Index(['DR_NO', 'Date Rptd', 'TIME OCC', 'AREA ', 'AREA NAME', 'Rpt Dist No',
       'Part 1-2', 'Crm Cd', 'Crm Cd Desc', 'Vict Age', 'Vict Sex',
       'Vict Descent', 'Premis Cd', 'Premis Desc', 'Status', 'Status Desc',
       'LOCATION', 'LAT', 'LON'],
      dtype='object')

### Location Column Cleaning

In [117]:
# pulling out whole latitude dict
df_merged['LAT'] = df_merged['LOCATION'].str.extract('(\'latitude\'\:\s\'\-?\d+\.?\d+\')', expand=False).str.strip()
# pulling out only coordinate
df_merged['LAT'] = df_merged['LAT'].str.extract('(-?\d+\.?\d+)', expand=False).str.strip()

In [118]:

# pulling out whole latitude dict
df_merged['LON'] = df_merged['LOCATION'].str.extract('(\'longitude\'\:\s\'\-?\d+\.?\d+\')', expand=False).str.strip()
# pulling out only coordinate
df_merged['LON'] = df_merged['LON'].str.extract('(-?\d+\.?\d+)', expand=False).str.strip()

In [119]:
# crime_dict
df_merged.head()

,DR_NO,Date Rptd,TIME OCC,AREA,AREA NAME,Rpt Dist No,Part 1-2,Crm Cd,Crm Cd Desc,Vict Age,Vict Sex,Vict Descent,Premis Cd,Premis Desc,Status,Status Desc,LOCATION,LAT,LON
DATE OCC,,,,,,,,,,,,,,,,,,,
2010-01-01,110207580,2011-03-12,600,2,Rampart,246,2,354,THEFT OF IDENTITY,44,M,B,203.0,OTHER BUSINESS,IC,Invest Cont,400 S BONNIE BRAE ST,NaN,NaN
2010-01-01,210405292,2021-02-05,1500,4,Hollenbeck,427,1,121,"RAPE, FORCIBLE",5,F,H,501.0,SINGLE FAMILY DWELLING,IC,Invest Cont,4600 GREY DR,NaN,NaN
2010-01-01,111420628,2011-07-12,1200,14,Pacific,1488,2,354,THEFT OF IDENTITY,28,F,H,501.0,SINGLE FAMILY DWELLING,IC,Invest Cont,8700 RAMSGATE AV,NaN,NaN
2010-01-01,111012643,2011-07-06,1200,10,West Valley,1039,2,354,THEFT OF IDENTITY,26,M,H,502.0,"MULTI-UNIT DWELLING (APARTMENT, DUPLEX, ETC)",IC,Invest Cont,6600 WOODLEY AV,NaN,NaN
2010-01-01,211320193,2021-12-11,111,13,Newton,1347,1,820,ORAL COPULATION,5,F,H,501.0,SINGLE FAMILY DWELLING,IC,Invest Cont,1600 E 33RD ST,NaN,NaN

In [120]:
# dropping description columns and features not relevant to modeling
cleaned_features=['DR_NO', 'TIME OCC', 'AREA NAME',
                  'Rpt Dist No', 
                  'Crm Cd', 'Crm Cd Desc',
                  'Vict Age',
                  'Vict Sex', 
                  'Vict Descent', 
                  'Premis Cd', 'Premis Desc',
                  'Status', 'Status Desc',
                  'LAT', 'LON']

### Pickling Final Cleaned Dataframe

In [121]:
cleaned_df = df_merged[cleaned_features]

In [122]:
cleaned_df.to_pickle("dataset/cleaned_df.pkl")

In [63]:
cleaned_df.head()

,DR_NO,TIME OCC,AREA NAME,Rpt Dist No,Crm Cd,Crm Cd Desc,Vict Age,Vict Sex,Vict Descent,Premis Cd,Premis Desc,Status,Status Desc,LAT,LON
DATE OCC,,,,,,,,,,,,,,,
01/01/2010,100614235,1000,Hollywood,666,930,CRIMINAL THREATS - NO WEAPON DISPLAYED,38,M,H,203.0,OTHER BUSINESS,IC,Invest Cont,NaN,NaN
01/01/2010,100504023,1300,Harbor,529,310,BURGLARY,25,F,H,502.0,"MULTI-UNIT DWELLING (APARTMENT, DUPLEX, ETC)",IC,Invest Cont,NaN,NaN
01/01/2010,171513840,1200,N Hollywood,1543,354,THEFT OF IDENTITY,22,M,B,501.0,SINGLE FAMILY DWELLING,IC,Invest Cont,NaN,NaN
01/01/2010,100504026,120,Harbor,521,745,VANDALISM - MISDEAMEANOR ($399 OR UNDER),74,M,W,122.0,"VEHICLE, PASSENGER/TRUCK",IC,Invest Cont,NaN,NaN
01/01/2010,100504027,2100,Harbor,564,624,BATTERY - SIMPLE ASSAULT,47,F,W,101.0,STREET,IC,Invest Cont,NaN,NaN